@import '../../styles/theme';

.Loader {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  padding: 20px;
  box-sizing: border-box;

  .loader {
    border: 3px solid transparent;
    border-top: 3px solid $primary-color-300;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 0.7s linear infinite;
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
}