@import '../../../styles/theme';

.BuildingQuickAccess {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  .list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 1;
    align-items: center;
    justify-content: flex-start;

    .BuildingIcon {
      padding: 5px;
      background: $accent-color-300;
      border: 3px double $accent-color-100;
      border-radius: 2px;
      min-width: 50px;
      min-height: 50px;
      box-sizing: border-box;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;

      &.disabled {
        cursor: default;
      }
      &.enabled {
        cursor: pointer;
        &:hover {
          background: $accent-color-400;
        }
      }
      .disabled-box {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(255,255,255,0.5);
      }


    }
  }
  .info-box {
    p {
      padding-left: 10px;
      font-size: 20px;
      font-weight: 600;

      span {
        font-weight: 300;
      }

      &.disabled {
        color: $black-color-100
      }
    }
  }
}