@import '../../../styles/theme';

.ProgressTile {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid $black-color-100;
    padding: 10px 10px;
    background: $accent-color-100;
    box-sizing: border-box;
    height: 80px;

    &:nth-child(even) {
         background: $accent-color-150;
     }

    &:last-child {
        border-bottom: 1px solid $black-color-100;
    }

    .icon-wrapper {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        background: $accent-color-300;
        border: 3px double $accent-color-100;
        border-radius: 2px;
        padding: 10px;
        width: 30px;
        height: 30px;

        .icon-badge-wrapper {
            background: $accent-color-100;
            position: absolute;
            bottom: 0;
            right: 0;
            width: 16px;
            height: 16px;
            border-left: 1px solid $accent-color-100;
            border-top: 1px solid $accent-color-100;

            .icon-badge {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 16px;
                height: 16px;
            }
        }
    }

    .progress-box {
        display: flex;
        flex-direction: column;
        flex: 1;
        padding-left: 10px;

        .label {
            p {
                font-weight: 500;
                .time, .level {
                    font-weight: 300;
                }
            }
        }

        .progress-bar-box {
            padding: 0 20px 0 0;

            .progress-bar {
                border-radius: 2px;
                background: $green-color-200;
                display: flex;
                align-items: center;
                justify-content: flex-end;
                min-width: 10px;
                padding: 2px 5px;
                transition: width 0.7s;

                p {
                    margin-bottom: -3px;
                    color: $accent-color-100;
                    font-size: 12px;
                    font-weight: 500;
                }
            }
        }
    }
}