$primary-color-300: #3D5B77;
$primary-color-200: #4b6c8b;
$primary-color-100: #54789A;
$accent-color-300: #CADBEB;
$accent-color-200: #DFEBF7;
$accent-color-100: #FFFFFF;
$black-color-300: #000000;
$black-color-200: #1C1C1C;
$black-color-100: #C4C4C4;