$primary-color-300: #3D5B77;
$primary-color-200: #4b6c8b;
$primary-color-100: #54789A;
$accent-color-300: #CADBEB;
$accent-color-200: #F6FBFF;
$accent-color-150: #fafcfc;
$accent-color-100: #FFFFFF;
$black-color-300: #000000;
$black-color-200: #1C1C1C;
$black-color-100: #C4C4C4;
$black-color-50: #E1E1E1;
$green-color-200: #65a88e;