.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100%;
  min-height: 100%;
  flex-grow: 1;
  flex-shrink: 0;

  .left {
    min-width: 80px;
    height: 100%;
  }

  .right {
    flex: 1;

    .header {
      display: flex;
      flex-wrap: wrap;
    }

    .PlayerHeadline, .CityHeadline {
      min-height: 70px;
    }

    .CityHeadline{
      flex: 1;
    }
  }

  .column {
    display: flex;
    flex-direction: column;
  }

  .LeftUpperCorner, .TopPanel {
    min-height: 80px
  }

  .Dashboard, .LeftPanel {
    flex: 1;
  }
}
