@import '../../styles/theme';

.TopPanel {
  background: $primary-color-300;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    li {
      border-left: 1px solid $primary-color-300;
    }
  }
}