@import '../../styles/theme';

.LeftPanel {
    background: $primary-color-200;

    ul {
        list-style: none;
        padding: 0;
        margin: 0;

        li {
            border-bottom: 1px solid $primary-color-300;
        }

        li:first-of-type {
            border-top: 1px solid $primary-color-300;
        }
    }
}
