@import '../../styles/theme';

.CityHeadline {
  background: $accent-color-100;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;

  .city-header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    p {
      margin: 0;
      padding: 0;
      font-size: 25px;
      font-family: 'Khand', sans-serif;
      font-weight: 600;

      .points {
        font-weight: 400;
      }
    }

    .additional-data {
      margin-top: -8px;
      font-size: 16px;
      font-weight: 300;
    }
  }

  .resource-box {
    ul {
      list-style: none;
      padding: 0;
      margin: 0 40px 0 0;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    li.resource {
      display: flex;
      align-items: center;
      justify-content: center;
      .resource-icon {
        margin: 0 15px 0 30px;
        fill: $primary-color-300;
      }

      .item {

      }

      .resource-value {
        font-size: 40px;
      }
    }
  }


}