@import '../../styles/theme';

.Dashboard {
  background: $accent-color-300;
  display: flex;
  flex-direction: column;

  .content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    flex: 1 1;

    .main-content {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-content: center;
      flex-grow: 1;
    }

    .right-panel {
      height: 100%;
      display: flex;
      border-left: 1px solid $black-color-100;
    }
  }
}