.Dashboard {
  background: #cadbeb;

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .PlayerHeadline, .CityHeadline {
    min-height: 70px;
  }

  .CityHeadline{
    flex: 1;
  }
}