@import '../../styles/theme';

.Dashboard {
  background: $accent-color-300;

  .header, .content {
    display: flex;
    flex-wrap: wrap;
  }

  .PlayerHeadline, .CityHeadline {
    min-height: 70px;
  }

  .CityHeadline{
    flex: 1;
  }
}