@import '../../styles/theme';

.PlayerHeadline {
  background: $accent-color-100;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  p {
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-weight: 600;

    .points {
      font-weight: 400;
    }
  }

  .additional-data {
    margin-top: -8px;
    font-size: 16px;
    font-weight: 300;
  }

}