@import '../../../styles/theme';

.AccordionSection {
  .section-name {
    padding: 10px 30px;
    text-align: center;
    font-size: 25px;
    border: 1px solid $black-color-50;
    cursor: pointer;
    height: 100%;

    &:hover {
      background: $accent-color-200;
    }
  }

  &.active {
    .units-list {
      max-height: 100vh;
      transition: all 1s;
    }
  }
  &.inactive {
    .units-list {
      max-height: 0;
      transition: all 0.5s;
    }
  }

  .units-list {
    overflow: hidden;
  }


}