@import '../../../styles/theme';

.NumberOfUnitsTile {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  padding: 10px;
  background: $accent-color-100;
  border-bottom: 1px solid $black-color-50;

  .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    background: $accent-color-300;
    border: 3px double $accent-color-100;
    border-radius: 2px;
    width: 30px;
    height: 30px;
    padding: 10px;
  }

  .levels-data-box {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 0 10px;

    .levels-data {
      display: flex;
      flex-direction: row;
    }
  }

  .total-amount-box {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    font-size: 20px;
    border-left: 1px solid $black-color-100;
    min-width: 38px;

  }



}