@import '../../styles/theme';

.TopSearch {
  margin-left: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: $accent-color-300;
  width: 100%;

  .search-box {
    display: flex;
    flex-direction: column;
  }


  input {
    margin: 0 0 0 20px;
    font-size: 15px;
    color: $accent-color-300;
    background: transparent;
    border: none;
    width: 50%;
    min-width: 250px;
    padding: 8px;

    font-family: Khand, sans-serif;
    font-weight: 400;

    &:focus + div {
      animation: increase-width 0.3s;
      animation-fill-mode: forwards;
    }

  }
  .bottom-border {
    background: $accent-color-300;
    height: 1px;
    width: 0;
    margin-left: 20px;
  }

  @keyframes increase-width {
    0% { width: 0; }
    100% { width: 280px; }
  }
}
